name: "Pull Request Docs Check"
on: 
- push

jobs:
  check-docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ammaraskar/sphinx-action@master
      with:
        docs-folder: "docs/"
        pre-build-command: "apt-get update --allow-releaseinfo-change -y && apt-get install -y git"
