name: "Pull Request Docs Check"
on: 
- push

jobs:
  check-docs:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
        fetch-tags: true
    - uses: ammaraskar/sphinx-action@master
      with:
        docs-folder: "docs/"
        pre-build-command: "apt-get update --allow-releaseinfo-change -y && apt-get install -y git && python -m pip install --upgrade pip && pip install -r docs/requirements.txt"
      env:
        SPHINXOPTS: "-W -n --keep-going"
